// NativeScript core theme
// Import app variables
@import 'app-variables';

// Override variables here
$btn-padding-x: 5;
$btn-padding-y: 5;
$btn-margin-x: 8;
$btn-margin-y: 3;

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here
.action-bar {
  height: 40;
}

.action-item {
    padding: 0 10;
    height: 100%;
}

//.android .action-bar {
//  padding-top: 20;
//  height: 60;
//}