// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/forest';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

Label {
  vertical-align: center;
}

.title {
    text-align: center;
    padding-left: 16;
}

.message {
    vertical-align: center;
    text-align: center;
    font-size: 20;
}

.drawer-close-button {
  margin-top: 10;
  padding: 10 10 10 10;
  margin-bottom: 10;
}

.drawer-item {
    padding: 8 16;
    font-size: 12;
}

.page {
    align-items: center;
    flex-direction: column;
  }

.action-bar {
  height: 40;
}

.item {
  padding: 10;
  border-color: $grey;
  border-bottom-width: 1;
  border-bottom-style: solid;
}

.big {
  font-size: 20;
}

.thumbnail {
  margin-right: 10;
}

.swipe-item {
  color: white;
  padding: 8;
}

.swipe-item.left {
  background-color: #240774;
}

.swipe-item.right {
  background-color: #79000a;
}

.drawer {
  padding: 10;
  background-color: $background;
}

.sideLogo {
  margin-bottom: 10;
}

.sideLabel {
  font-size: 16;
  padding: 5;
}

.sideLightGrayLabel {
  background-color: $grey;
}

.ion {
  font-family: Ionicons, ionicons;
  font-size: 24;
}

.fa {
  font-family: FontAwesome, fa-solid-900, fa-regular-400, fa-brands-400;
}

.fas {
  font-family: Font Awesome 5 Free, fa-solid-900;
}
.far {
  font-family: Font Awesome 5 Free, fa-regular-400;
}
.fab {
  font-family: Font Awesome 5 Brands, fa-brands-400;
}